{{ define "main" }}
<style>
</style>

<div class="overlay-black">

<section id="top-title" class="flex flex-wrap text-center pt-20 pb-12">
    <h1 class="w-4/5 pb-3 font-roboto uppercase text-3xl lg:text-7xl text-white font-thin tracking-wide mx-auto top-title">{{ .Title }}</h1>
</section>

<section id="page-details" class="flex flex-wrap text-center">
    <div class="container bg-white flex flex-wrap w-full lg:w-5/6 text-center mx-auto">
        <div class="w-5/6 lg:w-3/4 mx-auto font-muli text-color-4f5052 text-base lg:text-lg font-thin text-left py-12 leading-normal blog-content">
            {{ .Content }}
        </div>
        <div class="bg-color-48525d flex flex-wrap w-full py-16 font-muli text-xl">
            <div class="w-full lg:w-1/2 mx-auto pb-12 lg:pb-0">
                {{ with .PrevInSection }}
                <a class="text-white no-underline opacity-75 hover:opacity-100" href="/blog/{{ .Slug }}">
                    <-- {{ .Title }}</a>
                {{ end }}
            </div>
            <div class="w-full lg:w-1/2 mx-auto">
                {{ with .NextInSection }}
                <a class="text-white no-underline opacity-75 hover:opacity-100" href="/blog/{{ .Slug }}">
                    {{ .Title }} --></a>
                {{ end }}
            </div>
        </div>
    </div>
</section>

{{ partial "utilities/social-media-icons.html" . }}

</div>

{{ end }}