{{ define "main" }}

<style>

</style>

<div class="overlay-black">

<section id="top-title" class="flex text-center pt-20 pb-12">
    <div class="w-2/3 mx-auto">
        <h1 class="pb-3 font-roboto uppercase text-3xl lg:text-7xl text-white font-thin tracking-wide top-title">{{ .Params.pageTitle }}</h1>
    </div>
</section>

<section id="page-details" class="flex flex-wrap text-center">
    <div class="container bg-white flex flex-wrap w-5/6 lg:w-3/4 mx-auto">
        <div class="hidden bg-grey lg:flex flex-wrap w-full font-muli text-white">
            <a href="/about-us" class="w-1/5 mx-auto text-center py-6 text-white no-underline hover:bg-grey-dark hover:cursor-pointer">
                <p>About</p>
            </a>
            <a href="/about-us/team" class="w-1/5 mx-auto text-center py-6 text-white no-underline hover:bg-grey-dark hover:cursor-pointer">
                <p>Our Team</p>
            </a>
            <a href="/about-us/design-build" class="w-1/5 mx-auto text-center py-6 text-white no-underline hover:bg-grey-dark hover:cursor-pointer">
                <p>Process</p>
            </a>
            <a href="/about-us/recognition" class="w-1/5 mx-auto text-center py-6 text-white no-underline hover:bg-grey-dark hover:cursor-pointer">
                <p>Recognitions & Awards</p>
            </a>
            <a href="/about-us/testimonials" class="w-1/5 mx-auto text-center py-6 text-white no-underline hover:bg-grey-dark hover:cursor-pointer">
                <p>Testimonials & Reviews</p>
            </a>
        </div>
        <div class="flex flex-wrap w-full py-12">
            <div class="w-full lg:w-1/3 mx-auto pb-12 lg:pb-0">
                <h4 class="font-muli text-color-4f5052 text-lg font-normal leading-normal lg:text-right">T: {{ .Site.Params.contact_numbers.phone }}</h4>
                <h4 class="font-muli text-color-4f5052 text-lg font-normal leading-normal lg:text-right">F: {{ .Site.Params.contact_numbers.fax }}</h4>
                <a href="#contact-us" class="no-underline">
                    <h4 class="font-muli text-color-4f5052 text-lg font-bold leading-normal lg:text-right">Email Us Here</h4>
                </a>
            </div>
            <div class="w-full lg:w-1/3 mx-auto">
                <h4 class="font-muli text-color-4f5052 text-lg font-normal leading-normal lg:text-left">{{ .Site.Params.address.street }}</h4>
                <h4 class="font-muli text-color-4f5052 text-lg font-normal leading-normal lg:text-left">Suite {{ .Site.Params.address.suite }}</h4>
                <h4 class="font-muli text-color-4f5052 text-lg font-normal leading-normal lg:text-left">{{ .Site.Params.address.city }}, {{ .Site.Params.address.state }} {{ .Site.Params.address.zip }}</h4>
            </div>
        </div>
        <iframe src="https://www.google.com/maps/embed/v1/place?q={{ .Site.Params.address.street }}{{ .Site.Params.address.city }}{{ .Site.Params.address.state }}{{ .Site.Params.address.zip }}&key=AIzaSyAydxmpE5AxaJOyuTb8T6VdDg-TZWpyhqA" class="w-full mx-auto pb-12 h-home-single" frameborder="0" allowfullscreen></iframe>
        <form id="contact-us" class="w-5/6 lg:w-1/2 mx-auto" name="contact-form" action="/thank-you" method="POST" netlify netlify-honeypot="field-for-coolguys">
            <input type="hidden" name="subject" value="New Form Submission from Main Contact Form" />
            <div class="flex flex-wrap">
                <div class="pb-5 w-full text-left">
                    <h2 class="font-muli text-color-4f5052 text-2xl lg:text-3xl font-normal">Contact Us Today!</h2>
                </div>
                <div class="w-full mx-auto">
                    <h4 class="font-muli text-left text-color-818e9c text-lg uppercase font-normal">Name*</h4>
                </div>
                <div class="w-full sm:w-1/2 pt-3 pb-8 sm:pb-5 lg:border-r-8 border-white">
                    <input class="w-full p-3 bg-white focus:bg-grey-lighter focus:outline-none font-muli font-bold border-1 border-color-contact-form text-input" type="text" name="first-name" required>
                    <h4 class="font-muli text-left text-color-818e9c text-base uppercase font-thin">First</h4>
                </div>
                <div class="w-full sm:w-1/2 pt-3 pb-8 sm:pb-5 lg:border-l-8 border-white">
                    <input class="w-full p-3 bg-white focus:bg-grey-lighter focus:outline-none font-muli font-bold border-1 border-color-contact-form text-input" type="text" name="last-name" required>
                    <h4 class="font-muli text-left text-color-818e9c text-base uppercase font-thin">Last</h4>
                </div>
                <div class="w-full mx-auto pt-5">
                    <h4 class="font-muli text-left text-color-818e9c text-lg uppercase font-normal">Email*</h4>
                </div>
                <div class="w-full pt-3 pb-8 sm:pb-5">
                    <input class="w-full p-3 bg-white focus:bg-grey-lighter focus:outline-none font-muli font-bold border-1 border-color-contact-form text-input" type="email" name="email" required>
                </div>
                <div class="w-full mx-auto pt-3">
                    <h4 class="font-muli text-left text-color-818e9c text-lg uppercase font-normal">Phone*</h4>
                </div>
                <input type="text" name="field-for-coolguys" style="display:none" />
                <div class="w-full pt-3 pb-8 sm:pb-5">
                    <input class="w-full p-3 bg-white focus:bg-grey-lighter focus:outline-none font-muli font-bold border-1 border-color-contact-form text-input" type="tel" name="phone-number" required>
                </div>
                <div class="w-full mx-auto pt-3">
                    <h4 class="font-muli text-left text-color-818e9c text-lg uppercase font-normal">Message*</h4>
                </div>
                <div class="w-full pt-3 pb-8 sm:pb-5">
                    <textarea class="w-full p-3 bg-white focus:bg-grey-lighter focus:outline-none font-muli font-bold border-1 border-color-contact-form h-32 text-input" type="text" name="message" required></textarea>
                </div>
                <div class="w-full sm:pt-5 pb-8">
                    <input class="w-full font-muli font-sm text-white hover:text-white font-bold uppercase py-3 px-5 bg-color-818e9c hover:bg-grey hover:cursor-pointer collections-button" type="submit" value="Submit">
                </div>
        </form>
    </div>
</section>

{{ partial "social-media-icons.html" . }}

</div>

{{ end }}