{{ define "main" }}

<style>

</style>

<div class="overlay-black overflow-hidden">

<section id="top-title" class="flex text-center pt-20 pb-12">
    <div class="w-2/3 mx-auto">
        <h1 class="pb-3 font-roboto uppercase text-3xl lg:text-7xl text-white font-thin tracking-wide top-title">{{ .Params.pageTitle }}</h1>
    </div>
</section>

<section id="page-details" class="flex flex-wrap text-center">
    <div class="bg-white flex flex-wrap w-5/6 lg:w-3/4 mx-auto py-10 px-5 lg:px-20">
        <h2 class="w-full pb-4 font-muli text-color-4f5052 text-2xl lg:text-4xl font-normal">Custom Architectural Design</h2>
        <h3 class="w-full pb-4 font-muli text-color-4f5052 text-lg lg:text-2xl font-normal">All our homes have the feel. The look is whatever you want it to be.</h3>
        <p class="w-full pb-4 font-muli text-color-4f5052 text-lg font-thin leading-normal">Let our in-house architects design your next home and bring your unique vision to life. Utilizing top-of-the-line 3D software, all of our architectural designs start with a blank screen, meaning every home we draw is a 100% reflection of our client’s personal style, desires and specifications.</p>
        <p class="w-full pb-4 font-muli text-color-4f5052 text-lg font-thin leading-normal">Our integrated approach to <a href="/about-us/design-build">design + build</a> means our architectural and selection teams work together keeping your budget in mind throughout the entire process.</p>
        <p class="w-full pb-4 font-muli text-color-4f5052 text-lg font-thin leading-normal">Only interested in design? Our Architecture Only Packages are more than just a set of plans. We build a comprehensive package that includes everything you need to go to permitting, including geological reports, engineering plans and more.</p>
        <a href="/collection/modern-luxury" class="w-full md:w-1/2 lg:w-1/3 mx-auto border-8 border-white no-underline collection-item" style="background-image:url('{{ .Site.Params.tracking.cloudinary_url }}/v1552442897/OnPoint%20Custom%20Homes/emomedia.net-2-600x600.jpg');background-size:cover;background-repeat:no-repeat;">
            <div class="flex items-center h-32 py-32 hover:bg-transparent text-white hover:text-transparent text-sm hover:text-3xl hover:cursor-pointer overlay-black">
                <h4 class="w-full text-center font-muli">Modern Luxury</h4>
            </div>
        </a>
        <a href="/collection/upscale-blend" class="w-full md:w-1/2 lg:w-1/3 mx-auto border-8 border-white no-underline collection-item" style="background-image:url('{{ .Site.Params.tracking.cloudinary_url }}/v1552527334/OnPoint%20Custom%20Homes/DSC_7432-600x600.jpg');background-size:cover;background-repeat:no-repeat;">
            <div class="flex items-center h-32 py-32 hover:bg-transparent text-white hover:text-transparent text-sm hover:text-3xl hover:cursor-pointer overlay-black">
                <h4 class="w-full text-center font-muli">Upscale Blend</h4>
            </div>
        </a>
        <a href="/collection/urban-contemporary" class="w-full md:w-1/2 lg:w-1/3 mx-auto border-8 border-white no-underline collection-item" style="background-image:url('{{ .Site.Params.tracking.cloudinary_url }}/v1552445485/OnPoint%20Custom%20Homes/DSC_1672-600x600.jpg');background-size:cover;background-repeat:no-repeat;">
            <div class="flex items-center h-32 py-32 hover:bg-transparent text-white hover:text-transparent text-sm hover:text-3xl hover:cursor-pointer overlay-black">
                <h4 class="w-full text-center font-muli">Urban Comtemporary</h4>
            </div>
        </a>
        <a href="/collection/southern-elegance" class="w-full md:w-1/2 lg:w-1/3 mx-auto border-8 border-white no-underline collection-item" style="background-image:url('{{ .Site.Params.tracking.cloudinary_url }}/v1552527334/OnPoint%20Custom%20Homes/DSCF9770-600x600.jpg');background-size:cover;background-repeat:no-repeat;">
            <div class="flex items-center h-32 py-32 hover:bg-transparent text-white hover:text-transparent text-sm hover:text-3xl hover:cursor-pointer overlay-black">
                <h4 class="w-full text-center font-muli">Southern Elegance</h4>
            </div>
        </a>
        <a href="/collection/timeless-traditional" class="w-full md:w-1/2 lg:w-1/3 mx-auto border-8 border-white no-underline collection-item" style="background-image:url('{{ .Site.Params.tracking.cloudinary_url }}/v1552445498/OnPoint%20Custom%20Homes/OnPoint-Custom-Homes-00065-600x600.jpg');background-size:cover;background-repeat:no-repeat;">
            <div class="flex items-center h-32 py-32 hover:bg-transparent text-white hover:text-transparent text-sm hover:text-3xl hover:cursor-pointer overlay-black">
                <h4 class="w-full text-center font-muli">Timeless Traditional</h4>
            </div>
        </a>
        <a href="/collection/outdoor-oasis" class="w-full md:w-1/2 lg:w-1/3 mx-auto border-8 border-white no-underline collection-item" style="background-image:url('{{ .Site.Params.tracking.cloudinary_url }}/v1552445492/OnPoint%20Custom%20Homes/DSC_8531-600x600.jpg');background-size:cover;background-repeat:no-repeat;">
            <div class="flex items-center h-32 py-32 hover:bg-transparent text-white hover:text-transparent text-sm hover:text-3xl hover:cursor-pointer overlay-black">
                <h4 class="w-full text-center font-muli">Outdoor Oasis</h4>
            </div>
        </a>
    </div>
</section>

{{ partial "utilities/social-media-icons.html" . }}

</div>

{{ end }}