{{ define "main" }}

<style>

</style>

<div class="overlay-black">

<section id="top-title" class="flex text-center pt-20 pb-12">
    <div class="w-2/3 mx-auto">
        <h1 class="pb-3 font-roboto uppercase text-3xl lg:text-7xl text-white font-thin tracking-wide top-title">{{ .Page.Params.pageTitle }}</h1>
    </div>
</section>

<section id="page-details" class="flex flex-wrap text-center">
    <div class="container bg-white flex flex-wrap w-5/6 lg:w-3/4 mx-auto">
        <div class="hidden bg-grey lg:flex flex-wrap w-full font-muli text-white">
            <a href="/about-us" class="w-1/5 mx-auto text-center py-6 text-white no-underline hover:bg-grey-dark hover:cursor-pointer">
                <p>About</p>
            </a>
            <a href="/about-us/team" class="w-1/5 mx-auto text-center py-6 text-white no-underline hover:bg-grey-dark hover:cursor-pointer">
                <p>Our Team</p>
            </a>
            <a href="/about-us/design-build" class="w-1/5 mx-auto text-center py-6 text-white no-underline hover:bg-grey-dark hover:cursor-pointer">
                <p>Process</p>
            </a>
            <a href="/about-us/recognition" class="w-1/5 mx-auto text-center py-6 text-white no-underline hover:bg-grey-dark hover:cursor-pointer">
                <p>Recognitions & Awards</p>
            </a>
            <a href="/about-us/testimonials" class="w-1/5 mx-auto text-center py-6 text-white no-underline hover:bg-grey-dark hover:cursor-pointer">
                <p>Testimonials & Reviews</p>
            </a>
        </div>
        <p class="py-12 px-12 lg:px-32 font-muli text-color-4f5052 text-left text-lg font-thin leading-normal">In addition to On Point’s Design + Build program, On Point Custom Homes offers remodeling services throughout Houston’s inner-city landscape. From small upgrades to whole-home remodels, our knowledgeable team provides an unparalleled remodeling experience. We take an integrated, service-oriented approach to remodeling. Our in-house team is at your service to take you through the entire process, step-by-step.</p>
        <a class="w-full mx-auto" href="/contact-us">
            <button class="font-muli font-sm text-white hover:text-white font-bold uppercase text-center py-3 px-5 mb-5 bg-color-818e9c hover:bg-grey collections-button">Contact Us Today</button>
        </a>
        <div class="flex flex-wrap w-full py-10 px-0 md:px-20">
            {{ range (where .Site.Pages "Params.page_kind" "remodel") }}
                <a href="/remodels{{ .Slug }}" class="flex flex-wrap w-full md:w-1/2 mx-auto border-8 border-white h-home hover:opacity-95 hover:cursor-pointer" style="background-image: url('https://res.cloudinary.com/animated-eagle/image/upload{{ .Params.Featured_image.remodel_featured_image }}');background-size: cover;background-repeat:no-repeat;">
                </a>
            {{ end }}
        </div>
    </div>
</section>

{{ partial "social-media-icons.html" . }}

</div>

{{ end }}