{{ define "main" }}

<style>
.background-image {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/{{ .Page.Params.featured_image.Remodel_featured_image }}");
}
</style>

<div class="overlay-black">

<section id="top-title" class="flex text-center pt-20 pb-12">
    <a class="w-full lg:w-1/3 mx-auto" href="/remodels">
        <button class="font-muli font-sm text-grey hover:text-white font-bold uppercase text-center py-3 px-5 mt-10 border-2 hover:bg-grey hover:border-grey collections-button"><i class="fas fa-long-arrow-alt-left"></i> Back to Remodels</button>
    </a>
</section>

<section id="page-details" class="flex flex-wrap text-center">
    <div class="container bg-white flex flex-wrap w-full lg:w-5/6 text-center mx-auto">
        <div class="w-full lg:w-4/5 mx-auto relative py-12">
            <div class="bg-color-header w-100 absolute py-3 px-5 mt-4 text-left z-50">
                <h6 class="font-muli font-normal text-lg text-white uppercase">Before</h6>
            </div>
            <div class="bg-color-header w-100 absolute pin-r py-3 px-5 mt-4 text-right z-50">
                <h6 class="font-muli font-normal text-lg text-white uppercase">After</h6>
            </div>
        <div class="w-100 h-full mx-auto juxtapose">
            <img src="https://res.cloudinary.com/animated-eagle/image/upload/{{ .Page.Params.before_image.Remodel_before_image }}" />
            <img src="https://res.cloudinary.com/animated-eagle/image/upload/{{ .Page.Params.featured_image.Remodel_featured_image }}" />
        </div>
        </div>
            <div class='flex flex-wrap slider-nav'>
                <h2 class="w-full pb-12 font-muli text-color-4f5052 text-2xl lg:text-4xl font-normal">More Pictures of this Remodel</h2>
                {{ range index .Page.Params.gallery_images }}
                <div class="w-1/2 md:w-1/3 lg:w-1/6 border-r-4 border-l-4 opacity-75 hover:opacity-100 hover:cursor-pointer border-white controls-image"><img src="https://res.cloudinary.com/animated-eagle/image/upload{{ . }}"></div>
                {{ end }}
            </div>
            <div class='slider bg-grey-lighter w-full py-5 mb-5 h-auto'>
                {{ range index .Page.Params.gallery_images }}
                <div class="flex"><img class="w-4/5 lg:w-2/3 mx-auto" src="https://res.cloudinary.com/animated-eagle/image/upload{{ . }}"></div>
                {{ end }}
            </div>
            <div class="bg-color-48525d flex flex-wrap w-full py-16 font-muli text-xl">
                <div class="w-full lg:w-1/2 mx-auto pb-12 lg:pb-0">
                    {{ with .PrevInSection }}
                    <a class="text-white no-underline opacity-75 hover:opacity-100" href="/remodels{{ .Slug }}"><-- {{ .Title }}</a>
                    {{ end }}
                </div>
                <div class="w-full lg:w-1/2 mx-auto">
                    {{ with .NextInSection }}
                    <a class="text-white no-underline opacity-75 hover:opacity-100" href="/remodels{{ .Slug }}">{{ .Title }} --></a>
                    {{ end }}
                </div>
            </div>
    </div>
</section>

{{ partial "slider-code" . }}
{{ partial "remodel-before-after-code" . }}
{{ partial "social-media-icons.html" . }}

</div>

{{ end }}