{{ define "main" }}

<div class="flex flex-wrap py-32 h-full">
  <div class="lg:py-32"></div>
  <div class="w-3/4 mx-auto text-center">
    <h1 class="font-muli text-5xl pb-5">Thank you</h1>
    <h2 class="font-muli text-3xl font-thin">We have received your message and will be in touch shortly.</h2>
    <a href="/">
      <button class="font-muli font-sm text-white hover:text-white font-bold uppercase py-3 px-5 mt-8 bg-color-818e9c hover:bg-grey collections-button">Return to the Home Page</button>
    </a>
  </div>
  <div class="lg:py-32"></div>
</div>

{{ end }}