<!DOCTYPE html><html lang="{{ $.Site.LanguageCode | default "en" }}"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">{{ partial "head/site-meta.html" . }}<meta name="HandheldFriendly" content="True"><meta name="MobileOptimized" content="320"><meta name="viewport" content="width=device-width,minimum-scale=1">{{ partial "head/robots.html" . }}{{ partial "head/favi-code.html" . }}{{ partial "head/global-style.html" . }}{{ partial "head/rss.html" . }}{{ partial "head/font-awesome.html" . }}{{ partial "head/vuejs.html" . }}{{ partial "head/google-analytics.html" . }}{{ partial "head/google-site-verification.html" . }}{{ partial "head/facebook-pixel.html" . }}</head>

    <body class="background-image {{ .Param "page-status" }} {{ if eq .Params.page_kind "home" }}home-portfolio-background{{ else }}{{ end }} {{ if eq .Params.Layout "blog" }}blog-background-image{{ else }}{{ end }}">

    {{ block "header" . }}{{ partial "header.html" .}}{{ end }}
    <main role="main">
<div class="flex flex-wrap">
  {{ range .Pages }}
  <div class="w-5/6 lg:w-2/3 mx-auto text-left py-5 lg:py-16 lg:px-12 border-b-4">
                <a href="/blog{{ .Slug }}" class="mx-auto no-underline h-home hover:cursor-pointer">
                <h2 class="pb-2 font-muli text-color-818e9c text-4xl roman font-normal">{{ .Title }}</h2>
                <date class="font-normal text-color-818e9c uppercase text-xs opacity-50">{{ .Date | dateFormat "Jan 2, 2006" }}</date>
                <p class="pt-2 font-muli text-color-4f5052 text-left text-lg font-thin leading-normal">{{ .Params.Excerpt }}</p>
                <button class="font-muli font-sm text-grey hover:text-white font-bold uppercase text-center py-3 px-5 mt-5 border-2 hover:bg-grey hover:border-grey collections-button">Continue Reading</button>
                </a>
            </div>
            {{ if .Params.Featured_image.Blog_featured_image }}
            <div class="w-1/2 lg:w-1/3 py-5 lg:py-0 mx-auto">
                <a href="/blog{{ .Slug }}" class="hover:opacity-75">
                    <img class="rounded" src="https://res.cloudinary.com/onpointcustomhomes/image/upload{{ .Params.Featured_image.Blog_featured_image }}">
                </a>
            </div>
            {{ else }}{{ end }}
  {{ end }}
  </div>
    </main>
    {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
    {{ block "scripts" . }}{{ partial "site-scripts.html" . }}{{ end }}
  </body>
</html>