<div class='flex flex-wrap pt-5 slider-nav'>{{< home-portfolio-slider-controls data="gallery_images" >}}</div><div class='slider bg-grey-lighter w-full py-5 mb-5 h-auto'>{{< home-portfolio-slider data="gallery_images" >}}</div>