{{ if .IsNamedParams }}
{{ $data := index $.Site.Data.homes.homes_available_now $.Params.data }}
{{ range $data }}
<a href="{{ .Site.baseURL }}/portfolio/{{ .home_label | urlize }}" class="flex flex-wrap w-full md:w-1/2 lg:w-1/3 mx-auto relative border-8 border-white h-home hover:opacity-95 hover:cursor-pointer" style="background-image: url('https://res.cloudinary.com/animated-eagle/image/upload{{ .home.featured_image.home_featured_image }}');background-size: cover;background-repeat:no-repeat;">
    <div class="w-full overlay-black-homes">
{{ if eq .home.is_sold 1 }}
      <img class="absolute pin-r pin-t -mt-1 -mr-1" src="https://res.cloudinary.com/animated-eagle/image/upload/v1552594741/OnPoint%20Custom%20Homes/sold-flag.png" width="100px">
    {{ else }}
      
{{ end }}
{{ if eq .home.is_on_sale 1 }}
      <img class="absolute pin-r pin-t -mt-1 -mr-1" src="https://res.cloudinary.com/animated-eagle/image/upload/v1552594746/OnPoint%20Custom%20Homes/for-sale-flag.png" width="100px">
    {{ else }}
      
{{ end }}
{{ if eq .home.is_pending 1 }}
      <img class="absolute pin-r pin-t -mt-1 -mr-1" src="https://res.cloudinary.com/animated-eagle/image/upload/v1552594741/OnPoint%20Custom%20Homes/pending-flag.png" width="100px">
    {{ else }}
      
{{ end }}
<div class="w-2/3 font-muli text-left text-white absolute pin-b pb-5 pl-5">
    <h2 class="font-normal">{{ .home.location.street_address }}</h2>
    <h3 class="font-bold uppercase text-xs opacity-75">{{ .home.location.neighboorhood }}</h3>
</div>
</div>
</a>
{{ end }}
{{- end -}}