{{ if .IsNamedParams }}
{{ $data := index $.Site.Data.collections.outdoor_oasis_photos $.Params.data }}
{{ range $data }}
<div class="w-1/2 md:w-1/3 lg:w-1/4 border-r-4 border-l-4 opacity-75 hover:opacity-100 hover:cursor-pointer border-white overflow-hidden controls-box"><div class="border-4 border-white h-48 md:h-24 w-full md:w-32 controls-image-collection" style="background-image:url('https://res.cloudinary.com/onpointcustomhomes/image/upload/w_136,h_98,f_auto{{ .photo.photo_image }}');background-size:100%;background-repeat:no-repeat;" aria-label="{{ if .photo.alt_text }}{{ .photo.alt_text }}{{ else }}Outdoor Oasis{{ end }}"></div></div>
{{ end }}
{{- end -}}