{{ define "main" }}

<style>
.home-page {
  background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1552418612/OnPoint%20Custom%20Homes/herobg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.home-hero-subtitle {
  text-shadow: 0 7px 10px rgba(0, 0, 0, 0.5)
}
.home-navi-box {
  transition: .2s;
}
.home-navi-box:hover {
  transition: .2s;
}
.home-navi-box:hover > h3 {
  color: #fff !important;
  border-color: #fff !important;
}
.home-navi-box:hover > p {
  color: #fff !important;
}

</style>

<section id="home-hero" class="bg-fixed flex flex-wrap items-center h-full">
  <div class="w-5/6 lg:w-1/2 mx-auto pt-20 lg:pt-32 text-center">
    <h1 class="pb-3 font-roboto uppercase text-4xl lg:text-6xl text-white font-thin tracking-wide top-title">Design • Build</h1>
    <h2 class="font-muli text-white text-xl font-normal home-hero-subtitle">2017 Texas Custom Builder of the Year</h2>
  </div>
  <div class="flex flex-wrap w-5/6 lg:w-3/4 mx-auto pt-12 pb-32">
    <a href="/our-portfolio" class="w-full md:w-1/2 lg:w-1/5 bg-white hover:bg-color-656565 hover:cursor-pointer rounded-sm opacity-95 hover:opacity-100 mx-auto shadow-lg text-center py-8 px-5 mt-12 md:mt-0 md:border-r-8 md:border-r-transparent lg:border-r-0 no-underline home-navi-box">
      <h3 class="pb-3 font-muli text-color-4f5052 font-normal text-lg border-b-2 border-color-999999">Architectural Design</h3>
      <p class="pt-3 font-muli text-color-999999 uppercase font-normal text-sm">Browse The Styles</p>
    </a>
    <a href="/portfolio" class="w-full md:w-1/2 lg:w-1/5 lg:w-1/5 bg-white hover:bg-color-656565 hover:cursor-pointer rounded-sm opacity-95 hover:opacity-100 mx-auto shadow-lg text-center py-8 px-5 mt-8 md:mt-0 no-underline home-navi-box">
      <h3 class="pb-3 font-muli text-color-4f5052 font-normal text-lg border-b-2 border-color-999999">Available Now</h3>
      <p class="pt-3 font-muli text-color-999999 uppercase font-normal text-sm">Current Homes</p>
    </a>
    <a href="/about-us" class="w-full md:w-1/2 lg:w-1/5 lg:w-1/5 bg-white hover:bg-color-656565 hover:cursor-pointer rounded-sm opacity-95 hover:opacity-100 mx-auto shadow-lg text-center py-8 px-5 mt-8 lg:mt-0 md:border-r-8 md:border-r-transparent lg:border-r-0 no-underline home-navi-box">
      <h3 class="pb-3 font-muli text-color-4f5052 font-normal text-lg border-b-2 border-color-999999">About Us</h3>
      <p class="pt-3 font-muli text-color-999999 uppercase font-normal text-sm">Team and Process</p>
    </a>
    <a href="/about-us/recognition" class="w-full md:w-1/2 lg:w-1/5 lg:w-1/5 bg-white hover:bg-color-656565 hover:cursor-pointer rounded-sm opacity-95 hover:opacity-100 mx-auto shadow-lg text-center py-8 px-5 mt-8 lg:mt-0 no-underline home-navi-box">
      <h3 class="pb-3 font-muli text-color-4f5052 font-normal text-lg border-b-2 border-color-999999">Our Admirers</h3>
      <p class="pt-3 font-muli text-color-999999 uppercase font-normal text-sm">Awards and Testimonials</p>
    </a>
  </div>
</section>

{{ end }}