<style>

</style>

<div id="header-functions">

<section id="header" class="bg-color-header header-container">
        <div class="container flex items-center py-4 px-8 sm:px-16 lg:px-0 lg:py-0 header-box">
<a id="logo" class="w-1/2 md:w-1/3 lg:w-1/4 xl:w-48 mr-auto" href="/">
  <img class="" src="{{ .Site.Params.logos.logo }}">
</a>

{{ partial "siteNavi.html" . }}

<div class="hidden lg:inline-flex w-48 hover:text-2xl header-social-links">
  <div class="py-2 mx-auto text-white">
    <a class="text-white no-underline hover:opacity-75" href="{{ .Site.Params.social_links.facebook}}" target="_blank">
      <i class="fab fa-facebook-f pr-2 hover:cursor-pointer" title="Facebook"></i>
    </a>
    <a class="text-white no-underline hover:opacity-75" href="{{ .Site.Params.social_links.insta}}" target="_blank">
      <i class="fab fa-instagram pr-2 hover:cursor-pointer" title="Instagram"></i>
    </a>
    <a class="text-white no-underline hover:opacity-75" href="{{ .Site.Params.social_links.houzz}}" target="_blank">
      <i class="fab fa-houzz pr-2 hover:cursor-pointer" title="Houzz"></i>
    </a>
    <a class="text-white no-underline hover:opacity-75" href="{{ .Site.Params.social_links.linkedin}}" target="_blank">
      <i class="fab fa-linkedin-in pr-2 hover:cursor-pointer" title="Linkedin"></i>
    </a>
    <a class="text-white no-underline hover:opacity-75" href="{{ .Site.Params.social_links.pinterest}}" target="_blank">
      <i class="fab fa-pinterest hover:cursor-pointer" title="Pinterest"></i>
      </a>
  </div>
</div>
</div>
</section>

<div id="mobile-menu" class="bg-color-header h-auto mobile-menu" v-bind:class="{ 'mobile-menu-toggle' : menuToggle }">
  <div class="mobile-menu-container">
  <div class="container flex flex-wrap lg:flex-no-wrap items-center px-8 sm:px-16 lg:px-0 py-4">
  <a id="mobile-menu-logo" class="w-1/2 md:w-1/3 lg:w-1/4 xl:w-48 mr-auto" href="/">
    <img class="" src="{{ .Site.Params.logos.mobile_menu_logo }}">
  </a>
  <a class="ml-auto text-3xl md:text-4xl text-white text-center close-menu" v-on:click="menuToggle = !menuToggle"><i class="fas fa-times"></i></a>
  </div>
  <ul class="font-muli text-xl text-center px-0 pt-5 pb-10 mobile-menu-list">
    {{ $currentNode := . }}
    {{ range .Site.Menus.mobile }}
    <li class="pt-8 pb-5 mobile-menu-item" v-on:click="{{ .Pre }}"><a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}} text-white no-underline font-bold" href="{{.URL}}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
  <div id="architectural-design-dropdown" class="hidden bg-black font-muli text-xl text-center py-3 architectural-design-dropdown" v-bind:class="{ 'mobile-menu-block' : architecturaltoggle }">
    {{ $currentNode := . }}
    {{ range .Site.Menus.architecturaldesign }}
    <div class="block py-2">
    <li class="list-reset pt-8 pb-5"><a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}} mx-auto text-white no-underline font-bold" href="{{.URL}}">{{ .Name }}</a></li>
    </div>
    {{ end }}
  </div>
  <div id="about-us-dropdown" class="hidden bg-black font-muli text-xl text-center py-3 about-us-dropdown" v-bind:class="{ 'mobile-menu-block' : abouttoggle }">
    {{ $currentNode := . }}
    {{ range .Site.Menus.aboutus }}
    <div class="block py-2">
        <li class="list-reset pt-8 pb-5"><a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}} mx-auto text-white no-underline font-bold" href="{{.URL}}">{{ .Name }}</a></li>
    </div>
    {{ end }}
  </div>
  <div class="lg:hidden w-full py-8 text-center header-social-links">
    <div class="py-2 mx-auto text-4xl text-white">
        <a class="text-white no-underline hover:opacity-75" href="{{ .Site.Params.social_links.facebook}}" target="_blank">
          <i class="fab fa-facebook-f pr-2 hover:cursor-pointer" title="Facebook"></i>
        </a>
        <a class="text-white no-underline hover:opacity-75" href="{{ .Site.Params.social_links.insta}}" target="_blank">
          <i class="fab fa-instagram pr-2 hover:cursor-pointer" title="Instagram"></i>
        </a>
        <a class="text-white no-underline hover:opacity-75" href="{{ .Site.Params.social_links.houzz}}" target="_blank">
          <i class="fab fa-houzz pr-2 hover:cursor-pointer" title="Houzz"></i>
        </a>
        <a class="text-white no-underline hover:opacity-75" href="{{ .Site.Params.social_links.linkedin}}" target="_blank">
          <i class="fab fa-linkedin-in pr-2 hover:cursor-pointer" title="Linkedin"></i>
        </a>
        <a class="text-white no-underline hover:opacity-75" href="{{ .Site.Params.social_links.pinterest}}" target="_blank">
          <i class="fab fa-pinterest hover:cursor-pointer" title="Pinterest"></i>
        </a>
    </div>
  </div>
</div>
</div>

</div>