<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css"/><script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script><script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script><script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script><script type="text/javascript">$('.slider-gallery').slick({arrows:true, dots: false,infinite:true, speed:1000, slidesToShow:1, slidesToScroll:1, lazyLoad: 'ondemand', prevArrow: '<button class="w-px lg:w-1/5 absolute pin-t pin-l text-5xl h-screen text-center lg:z-50"><i class="fas fa-arrow-left"></i></button', nextArrow: '<button class="w-px lg:w-1/5 absolute pin-t pin-r text-5xl text-center h-screen lg:z-50"><i class="fas fa-arrow-right"></i></button'});

</script>

<script type="text/javascript">$('.slider-controls-gallery').slick({arrows:true, dots: false,infinite:false, speed:1000, slidesToShow:8, slidesToScroll:7, lazyLoad: 'ondemand', prevArrow: '<button class="bg-white w-px lg:w-12 mt-10 absolute pin-t pin-l text-3xl text-center lg:z-50 opacity-75"><i class="fas fa-arrow-left"></i></button', nextArrow: '<button class="bg-white w-px lg:w-12 mt-10 absolute pin-t pin-r text-3xl text-center lg:z-50 opacity-75"><i class="fas fa-arrow-right"></i></button',asNavFor: '.slider-gallery', focusOnSelect: true, draggable:false,

responsive: [{breakpoint: 992,settings: {slidesToShow: 5,slidesToScroll: 4,arrows:false}},{breakpoint: 768,settings: {slidesToShow: 3,slidesToScroll: 3,arrows: false}},{breakpoint: 576,settings: {slidesToShow: 2,slidesToScroll: 2,arrows: false}}]});

$(function() {
  $(".controls-image-gallery").click(function() {
    $('.big-slide-gallery').addClass("w-100 h-full opacity-100 pin-t py-5 z-50");
    $('.page-inner-container').addClass("lg:w-full");
    $('body').addClass("overflow-hidden");
    $('.page-inner-container').removeClass("container");
    $('.big-slide-gallery').removeClass("h-px w-px opacity-0"); 
  });
  $(".close-this-gallery").click(function() {
    $('.big-slide-gallery').removeClass("w-100 h-full opacity-100 py-5 pin-t");
    $('.page-inner-container').removeClass("lg:w-full");
    $('body').removeClass("overflow-hidden");
    $('.page-inner-container').addClass("container");
    $('.big-slide-gallery').addClass("h-px w-px opacity-0"); 
  });
});

$(".controls-image-gallery").click(function() {$('html,body').animate({
scrollTop: $(".big-slide-gallery").offset().top},'slow');});

$(".close-this-gallery").click(function() {$('html,body').animate({
scrollTop: $(".slider-controls-gallery").offset().top},'slow');});
  
</script>

<script type="text/javascript">$('.slider-floor-plans').slick({arrows:true, dots: false,infinite:true, speed:1000, slidesToShow:1, slidesToScroll:1, lazyLoad: 'ondemand', prevArrow: '<button class="w-px lg:w-1/5 absolute pin-t pin-l text-5xl h-screen text-center lg:z-50"><i class="fas fa-arrow-left"></i></button', nextArrow: '<button class="w-px lg:w-1/5 absolute pin-t pin-r text-5xl text-center h-screen lg:z-50"><i class="fas fa-arrow-right"></i></button'});

</script>

<script type="text/javascript">$('.slider-controls-floor-plans').slick({arrows:true, dots: false,infinite:false, speed:1000, slidesToShow:3, slidesToScroll:1, lazyLoad: 'ondemand', prevArrow: '<button class="bg-white w-px lg:w-12 mt-10 absolute pin-t pin-l text-3xl text-center lg:z-50 opacity-75"><i class="fas fa-arrow-left"></i></button', nextArrow: '<button class="bg-white w-px lg:w-12 mt-10 absolute pin-t pin-r text-3xl text-center lg:z-50 opacity-75"><i class="fas fa-arrow-right"></i></button', asNavFor: '.slider-floor-plans', draggable:false,

responsive: [{breakpoint: 992,settings: {slidesToShow: 5,slidesToScroll: 4,arrows:false}},{breakpoint: 768,settings: {slidesToShow: 3,slidesToScroll: 3,arrows: false}},{breakpoint: 576,settings: {slidesToShow: 2,slidesToScroll: 2,arrows: false}}]});

$(function() {
  $(".controls-image-floor-plans").click(function() {
    $('.big-slide-floor-plans').addClass("w-100 h-full opacity-100 py-5 pin-t z-50");
    $('.page-inner-container').addClass("lg:w-full");
    $('body').addClass("overflow-hidden");
    $('.page-inner-container').removeClass("container");
    $('.big-slide-floor-plans').removeClass("h-px w-px opacity-0"); 
  });
  $(".close-this-floor-plans").click(function() {
    $('.big-slide-floor-plans').removeClass("w-100 h-full opacity-100 py-5 pin-t");
    $('.page-inner-container').removeClass("lg:w-full");
    $('body').removeClass("overflow-hidden");
    $('.page-inner-container').addClass("container");
    $('.big-slide-floor-plans').addClass("h-px w-px opacity-0"); 
  });
});

$(".controls-image-floor-plans").click(function() {$('html,body').animate({
scrollTop: $(".big-slide-floor-plans").offset().top},'slow');});

$(".close-this-floor-plans").click(function() {$('html,body').animate({
scrollTop: $(".slider-controls-floor-plans").offset().top},'slow');});
  
</script>

<script type="text/javascript">$('.slider-progress').slick({arrows:true, dots: false,infinite:true, speed:1000, slidesToShow:1, slidesToScroll:1, lazyLoad: 'ondemand', prevArrow: '<button class="w-px lg:w-1/5 absolute pin-t pin-l text-5xl h-screen text-center lg:z-50"><i class="fas fa-arrow-left"></i></button', nextArrow: '<button class="w-px lg:w-1/5 absolute pin-t pin-r text-5xl text-center h-screen lg:z-50"><i class="fas fa-arrow-right"></i></button'});

</script>

<script type="text/javascript">$('.slider-controls-progress').slick({arrows:true, dots: false,infinite:false, speed:1000, slidesToShow:8, slidesToScroll:7, lazyLoad: 'ondemand', prevArrow: '<button class="bg-white w-px lg:w-12 mt-10 absolute pin-t pin-l text-3xl text-center lg:z-50 opacity-75"><i class="fas fa-arrow-left"></i></button', nextArrow: '<button class="bg-white w-px lg:w-12 mt-10 absolute pin-t pin-r text-3xl text-center lg:z-50 opacity-75"><i class="fas fa-arrow-right"></i></button', asNavFor: '.slider-progress', focusOnSelect: true, draggable:false,

responsive: [{breakpoint: 992,settings: {slidesToShow: 5,slidesToScroll: 4,arrows:false}},{breakpoint: 768,settings: {slidesToShow: 3,slidesToScroll: 3,arrows: false}},{breakpoint: 576,settings: {slidesToShow: 2,slidesToScroll: 2,arrows: false}}]});

$(function() {
  $(".controls-image-progress").click(function() {
    $('.big-slide-progress').addClass("w-100 h-full opacity-100 py-5 pin-t z-50");
    $('.page-inner-container').addClass("lg:w-full");
    $('body').addClass("overflow-hidden");
    $('.page-inner-container').removeClass("container");
    $('.big-slide-progress').removeClass("h-px w-px opacity-0"); 
  });
  $(".close-this-progress").click(function() {
    $('.big-slide-progress').removeClass("w-100 h-full opacity-100 py-5 pin-t");
    $('.page-inner-container').removeClass("lg:w-full");
    $('body').removeClass("overflow-hidden");
    $('.page-inner-container').addClass("container");
    $('.big-slide-progress').addClass("h-px w-px opacity-0"); 
  });
});

$(".controls-image-progress").click(function() {$('html,body').animate({
scrollTop: $(".big-slide-progress").offset().top},'slow');});

$(".close-this-progress").click(function() {$('html,body').animate({
scrollTop: $(".slider-controls-progress").offset().top},'slow');});
  
</script>

