<div class="w-48 text-2xl mx-auto py-12 header-social-links">
  <div class="py-2 mx-auto text-center text-white">
    <i class="fab fa-facebook-f pr-2 hover:text-black hover:cursor-pointer" title="Facebook"></i>
    <i class="fab fa-instagram pr-2 hover:text-black hover:cursor-pointer" title="Instagram"></i>
    <i class="fab fa-houzz pr-2 hover:text-black hover:cursor-pointer" title="Houzz"></i>
    <i class="fab fa-linkedin-in pr-2 hover:text-black hover:cursor-pointer" title="Linkedin"></i>
    <i class="fab fa-pinterest hover:text-black hover:cursor-pointer" title="Pinterest"></i>
  </div>
</div>